{% extends "sepa/base.html" %}
{% load toeuros %}
{% load l10n %}

{% block content %}
<div class="block container">
  <div class="box">
    <h1 class="title">Statistiken</h2>
      <div class="field">
        <table class="table">
          <tr>
            <th>Referenz</th>
            <th>Anzahl</th>
          </tr>
          <tr>
            <td>Studierende insgesamt (TU gemeldet)</td>
            <td>{{studentcount_all}}</td>
          </tr>
          <tr>
            <td>Antragsberechtigte insgesamt</td>
            <td>{{studentcount_nonfullrefund}}</td>
          </tr>
          <tr>
            <td>- davon nicht Medizintechnik</td>
            <td>{{studentcount_nonfullrefund_nonmedtec}}</td>
          </tr>
          <tr>
            <td>- davon Medizintechnik</td>
            <td>{{studentcount_nonfullrefund_medtec}}</td>
          </tr>
          <tr>
            <td>Nicht berechtigte Studierende insgesamt</td>
            <td>{{studentcount_fullrefund}}</td>
          </tr>
          <tr>
            <td>- davon nicht Medizintechnik</td>
            <td>{{studentcount_fullrefund_nonmedtec}}</td>
          </tr>
          <tr>
            <td>- davon Medizintechnik</td>
            <td>{{studentcount_fullrefund_medtec}}</td>
          </tr>
          <tr>
            <td>Gesamtanzahl der Rückerstattungen</td>
            <td>{{studentcount_refunded}}</td>
          </tr>
          <tr>
            <td>- davon nicht Medizintechnik</td>
            <td>{{studentcount_refunded_nonmedtec}}</td>
          </tr>
          <tr>
            <td>- davon Medizintechnik</td>
            <td>{{studentcount_refunded_medtec}}</td>
          </tr>
          <tr>
            <td>Ausgezahlter Betrag insgesamt</td>
            <td>{{transferred_amount|toeuros|floatformat:2|localize}}</td>
          </tr>
          <tr>
            <td>Anzahl noch nicht ausbezahlter Anträge</td>
            <td>{{studentcount_nonpaid_closed}}</td>
          </tr>
          <tr>
            <td>- davon unbearbeitet</td>
            <td>{{studentcount_nonpaid_open}}</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
      </div>
  </div>
</div>  
{% endblock %}
