{% extends "sepa/base.html" %}

{% block content %}
<h1>Studis</h1>
<ul>
{% for studi in object_list %}
    <li>{{ article.pub_date|date }} - {{ article.headline }}</li>
{% empty %}
    <li>No articles yet.</li>
{% endfor %}
</ul>

{% endblock %}
