{% extends "app/base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="card-content">
        <div class="columns">
			<div class="column is-two-thirds">
                <div class="content block">
				<h1>{% trans 'denied' %}</h1>
				<p>{% trans 'login_needed' %}</p>
				<p>	
					{% blocktranslate with SERVICE_EMAIL=SERVICE_EMAIL %}Du kannst dich nicht anmelden, hast aber das Semesterticket voll bezahlt? Dies kann bspw. vorkommen, wenn du während des Semesters exmatrikuliert wurdest. Bitte schreibe uns eine E-Mail an <a href=mailto:"{{ SERVICE_EMAIL }}\">{{ SERVICE_EMAIL }}</a> mit den folgenden Daten:
					<ul>
						<li>Vorname und Nachname</li>
						<li>Matrikelnummer</li>
						<li>und für die Überweisung:
							<ul>
								<li>Kontoinhaber*in</li>
								<li>IBAN</li>
								<li>BIC</li>
							</ul>
						</li>
					</ul>{% endblocktranslate %}
				</p>
				<p>
				<p>{% trans 'error_contact_us' %}
				<a href="mailto:{{ SERVICE_EMAIL }}">{{ SERVICE_EMAIL }}</a></p>
				</div>
			</div>
			<div class="column">
				<div class="notification is-success">
					{% include "app/update_form_notification.html" %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
