{% load i18n %}
{% load bulma_tags %}
{% load static %}
<div class="navbar has-shadow is-spaced has-background-light" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'index' %}">
                <img src="{% static 'app/logo.png' %}">
            </a>
        </div>
        <div class="navbar-end">
            {% if full_name %}
                <div class="navbar-item">
                    <strong>{% trans 'logged_in_as' %}</strong>&ensp;<span class=""> {{full_name}}</span>
                </div>
                <div class="navbar-item">
                    <strong>{% trans 'matriculation_number' %}:&ensp;</strong><span class="">{{matriculation_number}}</span>
                </div>
            {% endif %}
            <div class="buttons">
                <div class="navbar-item">
                    <form action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        {% get_current_language as LANGUAGE_CODE %}
                        <input name="next" type="hidden" value="{{ redirect_to }}">
                        {% if LANGUAGE_CODE == 'de' %}
                            <input name="language" type="hidden" value="en">
                        {% else %}
                            <input name="language" type="hidden" value="de">
                        {% endif %}
                        <div class="control">
                            <input class="button is-success" type="submit" value="{% trans 'language_switch' %}">
                        </div>
                    </form>
                </div>
                {% if full_name %}
                    <div class="navbar-item">
                        <a class="button" href="{% url 'logout' %}">
                        <strong>{% trans 'logout' %}</strong>
                        </a>
                    </div>
                {% else %}
                    <div class="navbar-item">
                            <a class="button" href="/saml2/login">
                            <strong>Login</strong>
                            </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
