{% extends "app/base.html" %}
{% load i18n %}

{% block content %}
<div class="block container">
    <div class="card-content">
        <div class="content">
			<h2></h2>

			<div class="notification is-warning">
				{% blocktranslate with first_name=first_name %}Hi {{ first_name }},{% endblocktranslate %}</br>
				{% trans 'warning_ratelimit'%}
			</div>
			<div class="block has-text-centered">
				<a href="{% url 'details' %}">
					<button class="button is-primary is-large">
						{% trans 'go_back_ratelimit'%}
					</button>
				</a>
				</div>

			<div class="notification">{% trans 'error_contact_us' %}
				<a href="mailto:{{ SERVICE_EMAIL }}">{{ SERVICE_EMAIL }}</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
