{% extends "app/base.html" %}
{% load i18n %}

{% block content %}
<div class="block container">
    <div class="card-content">
        <div class="content">
			<h2>{% blocktranslate with first_name=first_name %}Hi {{ first_name }},{% endblocktranslate %}</h2>

			<p>
				{% trans 'not_eligible'%}</br>
				<strong>{{reason}}</strong>
			</p>
			<p>
				{% trans 'error_contact_us' %}
				<a href="mailto:{{ SERVICE_EMAIL }}">{{ SERVICE_EMAIL }}</a>
			</p>
		</div>
	</div>
</div>
{% endblock %}
